<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard Amministratore</title>
</head>
<body>
    <h1>Benvenuto nella Dashboard Amministratore!</h1>

    <ul>
        <li><a th:href="@{/admin/categorie}">Gestione Categorie</a></li>
        <li><a th:href="@{/admin/prodotti/add}">Aggiungi Prodotto</a></li>
        <li><a th:href="@{/admin/prodotti}">Gestione Prodotti</a></li>
        <li><a th:href="@{/admin/utenti}">Gestione Utenti</a></li>
        <li>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </li>
    </ul>
</body>
</html>