<!DOCTYPE html>
<html>
<head>
    <title>Carrello</title>
</head>
<body>
    <h1>Carrello di <span th:text="${utente.nome}">[Nome]</span></h1>

    <ul>
        <li th:each="item : ${prodottiNelCarrello}">
            <span th:text="${item.prodotto.nome}">Nome prodotto</span> - 
            Quantità: <span th:text="${item.quantita}">1</span>
        </li>
    </ul>

    <form th:action="@{/carrello/acquista}" method="post">
        <button type="submit">Acquista</button>
    </form>
</body>
</html>
