<!DOCTYPE html>
<html>
<head>
    <title>Lista Prodotti</title>
</head>
<body>
    <h1>Lista Prodotti</h1>
    <ul>
        <li th:each="prodotto : ${products}">
            <span th:text="${prodotto.nome}">Nome</span> - 
            €<span th:text="${prodotto.prezzo}">Prezzo</span>
            <form method="post" th:action="@{/carrelloProdotti/aggiungi}">
                <input type="hidden" name="idProdotto" th:value="${prodotto.id}"/>
                <button type="submit">Aggiungi al carrello</button>
            </form>
        </li>
    </ul>
</body>
</html>
