<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="nuovo-utente">
      <div class="div">
        <div class="loginform">
          <div class="text-wrapper">Crea Account</div>
          <div class="username">
            <div class="text-wrapper-2">Nome</div>
            <div class="overlap-group"><div class="text-wrapper-3">username</div></div>
          </div>
          <div class="indirizzo">
            <div class="overlap">
              <div class="rectangle"></div>
              <div class="text-wrapper-4">address</div>
            </div>
            <div class="text-wrapper-5">Indirizzo</div>
          </div>
          <div class="email">
            <div class="overlap-2">
              <div class="rectangle-2"></div>
              <div class="text-wrapper-6">Email</div>
            </div>
            <div class="text-wrapper-7">Email</div>
          </div>
          <div class="conferma-email">
            <div class="rectangle-3"></div>
            <div class="text-wrapper-8">Email</div>
            <div class="text-wrapper-9">Conferma Email</div>
          </div>
          <div class="password">
            <div class="div-wrapper"><div class="text-wrapper-3">password</div></div>
            <div class="text-wrapper-10">Password</div>
          </div>
          <div class="conferma-pwd">
            <div class="overlap-3"><div class="text-wrapper-11">password</div></div>
            <div class="text-wrapper-12">Conferma Password</div>
          </div>
          <div class="bottone-crea"><div class="text-wrapper-13">Crea</div></div>
        </div>
        <div class="nav-bar">
          <div class="navigation">
            <div class="frame">
              <div class="frame-2">
                <div class="text-wrapper-14">Contact Us</div>
                <div class="text-wrapper-14">Login</div>
                <div class="text-wrapper-14">About US</div>
                <div class="text-wrapper-14">Home</div>
              </div>
              <div class="frame-3">
                <img class="img" src="img/image.svg" />
                <div class="text-wrapper-15">Search for products...</div>
              </div>
              <img class="frame-4" src="img/frame-2.svg" />
              <div class="frame-wrapper"><img class="frame-5" src="img/frame.svg" /></div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="overlap-4">
            <div class="overlap-5">
              <div class="text-wrapper-16">Company</div>
              <div class="rectangle-4"></div>
            </div>
            <div class="overlap-6">
              <div class="text-wrapper-16">Help</div>
              <div class="rectangle-5"></div>
            </div>
            <div class="text-wrapper-17">About Us</div>
            <div class="text-wrapper-18">Costumer Support</div>
            <div class="text-wrapper-19">Contact Us</div>
            <div class="text-wrapper-20">Shipping</div>
            <div class="text-wrapper-21">Returns</div>
            <div class="text-wrapper-22">Privacy Policy</div>
          </div>
          <div class="text-wrapper-23">FAQ</div>
          <div class="text-wrapper-24">Account</div>
          <div class="text-wrapper-25">Orders</div>
          <div class="text-wrapper-26">Payments</div>
          <div class="social">
            <div class="element"><div class="logo-twitter"></div></div>
            <div class="logo-fb-simple-wrapper"><div class="logo-fb-simple"></div></div>
            <div class="logo-instagram-wrapper"><div class="logo-instagram"></div></div>
            <div class="logo-github-wrapper"><div class="logo-github"></div></div>
          </div>
        </footer>
        <div class="bred-crumb">
          <div class="breadcrumb"><div class="text-wrapper-27">Home</div></div>
          <div class="home">
            <div class="home-wrapper"><div class="home-2">Login</div></div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-7"><div class="home-3">NuovoAccount</div></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


