<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <title>Dashboard Utente</title>
</head>
<body>
    <h1>Benvenuto nella tua Dashboard Utente!</h1>

    <p>Ciao, <span sec:authentication="principal.username"></span>!</p>

    <ul>
        <li><a th:href="@{/listaprodotti}">Visualizza tutti i prodotti</a></li>
        <li><a th:href="@{/carrello/display}">Visualizza il tuo carrello</a></li>
        <li><a th:href="@{/utente/modifica-profilo}">Modifica il tuo profilo</a></li>
        <li>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </li>
    </ul>
</body>
</html>